# Problem 2

In [69]:
import numpy as np
import pandas as pd
header = ['iteration','Inc_loss_1','Inc_loss_2','Penfac_1','Penfac_2','Plosses', 'Pdemand', 'Lambda', 'P1','P2']
values = []

## Iteration 1

In [70]:
p1, p2 = [500, 500]
incloss1 = 0.0004*p1
incloss2 = 0.0002*p2
penfact1 = 1/(1-incloss1)
penfact2 = 1/(1-incloss2)
ploss = 0.0002*p1*p1 + 0.0001*p2*p2
pdemand = ploss + 1000
#solve kkt
A = np.array([[1, 1, 0], [0.05, 0, incloss1-1], [0, 0.04, incloss2-1]])
B = np.array([pdemand, -25, -11])
X = np.linalg.solve(A,B)
print(X)

[268.83116883 806.16883117  48.05194805]

### P2 max limit is hit, setting to Pmax

In [71]:
#Checking for lambda
11+0.04*800
# conditions met as Lambda at Pmax = 43 < 48

43.0

## Starting from Iteration 2

In [72]:
p1, p2 = [275, 800]
for i in range(8):
    incloss1 = 0.0004*p1
    incloss2 = 0.0002*p2
    penfact1 = 1/(1-incloss1)
    penfact2 = 1/(1-incloss2)
    ploss = 0.0002*p1*p1 + 0.0001*p2*p2
    pdemand = ploss + 1000
    #solve kkt
    A = np.array([[1, 1, 0], [0.05, 0, incloss1-1], [0, 0.04, incloss2-1]])
    B = np.array([pdemand, -25, -11])
    X = np.linalg.solve(A,B)
    #update power values
    p1, p2, lamb = X 
    #append to dict
    values.append([i+2,incloss1,incloss2,penfact1,penfact2,ploss,pdemand,lamb,p1,p2])
pd.DataFrame(values,columns=header)

,iteration,Inc_loss_1,Inc_loss_2,Penfac_1,Penfac_2,Plosses,Pdemand,Lambda,P1,P2
0,2,0.110000,0.160000,1.123596,1.190476,79.125000,1079.125000,47.786727,350.603737,728.521263
1,3,0.140241,0.145704,1.163117,1.170555,77.658919,1077.658919,48.055401,326.320798,751.338122
2,4,0.130528,0.150268,1.150124,1.176841,77.747950,1077.747950,47.957971,333.961945,743.786005
3,5,0.133585,0.148757,1.154181,1.174753,77.627878,1077.627878,47.983887,331.479411,746.148467
4,6,0.132592,0.149230,1.152860,1.175405,77.649474,1077.649474,47.974447,332.268604,745.380869
5,7,0.132907,0.149076,1.153279,1.175193,77.639749,1077.639749,47.977271,332.014684,745.625065
6,8,0.132806,0.149125,1.153144,1.175261,77.642424,1077.642424,47.976333,332.095882,745.546542
7,9,0.132838,0.149109,1.153188,1.175239,77.641500,1077.641500,47.976628,332.069840,745.571660

$$P_{1} = 332.0 MW$$
$$P_{2} = 745.6 MW$$
$$P_{demand} = 1077.6 MW$$
$$ \lambda = 47.97 $$